.btn-primary{
    color: rgb(72, 68, 68) !important;
    background-color: rgb(233, 230, 174) !important;
    border-color: rgb(102, 98, 98) !important;
    box-shadow: 0 2px 6px 0 rgb(200 162 80 / 50%) !important;
}



.day-highlight {
    background-color: yellow !important;
    color: red !important;
  }


  .btn.btn-light.editButton {
        background-color: yellow !important;
        border-color: black;
        padding: 3%;
  }